In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import geopandas as gpd
import matplotlib.ticker as mticker
import requests
import zipfile
import io

matplotlib.use('Agg')

In [2]:
import pandas as pd

# Load the data from the uploaded CSV file
file_path = 'Resources/data_interpolated.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

,Date,CityName,StateName,MedianSalePrice,Year,MedianListPrice,SalesTotal,Total Population,Median Income,MORTGAGE30US,Unemployment Rate,HAI
0,2008-02-29,United States,NaN,174000.0,2008.0,NaN,205206.0,NaN,NaN,NaN,NaN,NaN
1,2008-02-29,New York,NY,400000.0,2008.0,NaN,8591.0,NaN,NaN,NaN,NaN,NaN
2,2008-02-29,Los Angeles,CA,470000.0,2008.0,NaN,4159.0,NaN,NaN,NaN,NaN,NaN
3,2008-02-29,Chicago,IL,224000.0,2008.0,NaN,5933.0,NaN,NaN,NaN,NaN,NaN
4,2008-02-29,Dallas,TX,138000.0,2008.0,NaN,5058.0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Convert 'Year' to string, remove '.0', and convert to int
data['Year'] = data['Year'].astype(str).str.replace('.0', '').astype(int)

# Convert 'MORTGAGE30US' and 'Median Income' to int
data['MORTGAGE30US'] = data['MORTGAGE30US'].astype(int)
data['Median Income'] = data['Median Income'].astype(int)

# Drop rows with NaN values
data.dropna(inplace=True)

# Filter by years 2009 to 2022
data = data[(data['Year'] >= 2009) & (data['Year'] <= 2022)]

# Drop rows where 'CityName' is 'United States'
data = data[data['CityName'] != 'United States']

data.head()

ValueError: invalid literal for int() with base 10: 'nan'

In [ ]:
def plot_with_secondary_axis(y_variable):
    # Apply the default theme
    sns.set_theme()

    # Group the filtered data by 'Year' and calculate the mean of 'SalesTotal' and the specified y_variable
    us_data = data.groupby('Year').agg({'SalesTotal':'sum', y_variable:'mean'}).dropna().reset_index()

    # Convert 'Year' column to string type and extract integer part
    us_data['Year'] = us_data['Year'].astype(str).str.split('.').str[0]
    us_data['Year'] = us_data['Year'].astype(int)  # Convert 'Year' to integer
    us_data[y_variable] = us_data[y_variable].astype(int)  # Convert y_variable to integer
    
    # Filter for the years w/ Median Income data and exclude rows where 'CityName' is "United States"
    filtered_data = us_data[(us_data['Year'] >= 2009) & (us_data['Year'] <= 2022)] #& (us_data['CityName'] != 'United States')]

    # Building sns barplot
    plt.figure(figsize=(12, 8))
    sns.barplot(data=filtered_data, x=filtered_data.index, y='SalesTotal', saturation=0.75, fill=True)

    # Create a secondary y-axis
    ax2 = plt.gca().twinx()

    # Your Seaborn line plot
    sns.lineplot(x='Year', y=y_variable, data=filtered_data, ax=ax2)

    # Set labels and title
    plt.xlabel('Year')
    plt.ylabel('Total Home Sales in US')
    ax2.set_ylabel(y_variable)
    plt.title(f'Total Home Sales and {y_variable} in the US Over Years')

    # Save the plot to a file
    plt.savefig('seaborn_plot_test.png')

    # Show the plot
    plt.show()

# Example usage:
# Assuming your DataFrame is named 'data'
plot_with_secondary_axis('MORTGAGE30US')
# Help!

In [ ]:
def plot_with_secondary_axis(data, y_variable):
    # Apply the default theme
    sns.set_theme()
    
    # Filtering data specifically for the United States and aggregating by year, correcting 'Year' data type
    #data['Year'] = data['Year'].astype(str).str.split('.').str[0]
    # us_data = data[data['CityName'] == 'United States'].groupby('Year').agg({'SalesTotal':'sum', y_variable:'mean'}).dropna()
    us_data = data[data['CityName'] == 'United States'].groupby('Year').agg({'SalesTotal':'sum', y_variable:'mean'}).dropna().reset_index()
    us_data['Year'] = us_data['Year'].astype(int)  # Convert 'Year' to integer

    # Building sns barplot
    plt.figure(figsize=(12, 8))
    sns.barplot(data=us_data, x=us_data.index, y=us_data['SalesTotal'], saturation=0.75, fill=True)

    # Create a secondary y-axis
    ax2 = plt.gca().twinx()

    # Your Seaborn line plot
    sns.lineplot(x=us_data.index, y=us_data[y_variable], data=us_data, ax=ax2)

    # Set labels and title
    plt.xlabel('Year')
    plt.ylabel('Total Home Sales in US')
    ax2.set_ylabel(y_variable)
    plt.title(f'Total Home Sales and {y_variable} in the US Over Years')

    # Save the plot to a file
    plt.savefig('seaborn_plot_test.png')

    # Show the plot
    plt.show()

# Example usage:
# Assuming your DataFrame is named 'data'
plot_with_secondary_axis(data, 'MORTGAGE30US')

In [ ]:
# Apply the default theme
sns.set_theme()

# Filtering data specifically for the United States and aggregating by year
data['Year'] = data['Year'].astype(str)
us_data = data[data['CityName'] == 'United States'].groupby('Year').agg({'SalesTotal':'sum', 'MORTGAGE30US':'mean'}).dropna()

# Building sns barplot
plt.figure(figsize=(12, 8))
sns.barplot(data=us_data, x=us_data.index, y=us_data['SalesTotal'], saturation=0.75, fill=True)

# Create a secondary y-axis
ax2 = plt.gca().twinx()

# Your Seaborn line plot
sns.lineplot(x=us_data.index, y=us_data['MORTGAGE30US'], data=us_data, ax=ax2)

# Set labels and title
plt.xlabel('Year')
plt.ylabel('Total Home Sales in US')
ax2.set_ylabel('Mortgage Interest Rate (%)')
plt.title('Total Home Sales and Mortgage Interest Rate in the US Over Years')

# Show the plot
plt.show()

# Save the plot to a file
plt.savefig('seaborn_plot_test.png')

In [ ]:
# Apply the default theme
sns.set_theme()

# Filtering data specifically for the United States and aggregating by year
us_data = data[data['CityName'] == 'United States'].groupby('Year').agg({'SalesTotal':'sum', 'MORTGAGE30US':'mean'}).dropna()

# Creating the combined graph for US data
fig, ax1 = plt.subplots(figsize=(10, 6))

# Bar graph for home sales in the US
ax1.bar(us_data.index, us_data['SalesTotal'], color='b', alpha=0.6, label='Total Home Sales in US')
ax1.set_xlabel('Year')
ax1.set_ylabel('Total Home Sales in US', color='b')
ax1.tick_params('y', colors='b')

# Format the y-axis to avoid exponential notation
ax1.get_yaxis().set_major_formatter(mticker.FuncFormatter(lambda x, p: format(int(x), ',')))

# Line graph for mortgage interest rate in the US
ax2 = ax1.twinx()
ax2.plot(us_data.index, us_data['MORTGAGE30US'], color='r', label='Mortgage Interest Rate (%)')
ax2.set_ylabel('Mortgage Interest Rate (%)', color='r')
ax2.tick_params('y', colors='r')

# Title and legend
plt.title('Total Home Sales and Mortgage Interest Rate in the US Over Years')
ax1.legend(loc='upper left')
ax2.legend(loc='upper right')

# Show plot
plt.savefig('png/Total Home Sales and Mortgage Interest Rate in the US Over Years.png', dpi = 300)
plt.show()

In [ ]:
sns.barplot(x='Category', y='Value', data=df)
plt.title('Bar Chart Example')
plt.xlabel('Category')
plt.ylabel('Value')
plt.show()